h1{
    color: Black;
    font-weight: 600;
    font-size: x-large;
} 

p{
    color: grey;
    font-size:medium;
    font-weight:100;
}

  h2{
        color: Black;
    font-weight: 600;
    font-size: x-large;
  }

  h3{
    color: Black;
    font-weight: 600;
    font-size: x-large;
  }

  h4{
      color: Black;
    font-weight: 600;
    font-size: x-large;
  }
.title{
  color: brown;
  font-size: x-large;
}
ul {
  color: burlywood;
  font-size: larger;
}
ol{
  color:olive;
  font-size: larger;
}

table{
  width: 50%;
}

td{
  padding: 15px;
  border-bottom: 1px solid;
}

value{
  color: grey;
}

span{
  color: grey;
}